&.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

&.events &.ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

&.notes-month {
    font-size: 28px;
    text-align: center;
}

&.notes-month section {
    font-size: 28px;
}

/*  */
&.ant-picker-cell {
    height: 135px;
}

&.ant-picker-panel {}

&.ant-picker-calendar {}

&.ant-picker-calendar-header {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

&.ant-picker-calendar &.ant-picker-calendar-header {
    display: flex;
    justify-content: space-between;
}

/* 요일 표시 중앙으로  */
&.ant-picker-calendar&.ant-picker-calendar-full &.ant-picker-panel {
    text-align: center;
}

&.css-1rclprt-SideBar * {
    font-size: 24px;
}

&.ant-picker-calendar-date {
    height: 130px;
}

&.ant-picker-calendar-date-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

&.ant-picker-calendar-date-content {
    height: 135px;
}